[Desktop Entry]
Name=twitter-web
Comment=Morph based alternate Twitter Webapp
Exec=qmlscene %u app/Main.qml --scaling --multisample --gles --fullscreen --disable-gpu
Terminal=false
Type=Application
Icon=icon.png
X-Ubuntu-Touch=true

X-Ubuntu-Splash-Color=#ffffff
X-Ubuntu-Splash-Image=icon.png

Name=Twitter Web
